[submodule "ext/ChibiOS"]
	path = ext/ChibiOS
	url = https://github.com/ChibiOS/ChibiOS.git
[submodule "ext/CANopenNode"]
	path = ext/CANopenNode
	url = https://github.com/CANopenNode/CANopenNode.git
[submodule "ext/littlefs"]
	path = ext/littlefs
	url = https://github.com/littlefs-project/littlefs
[submodule "ext/OpenCCSDS"]
	path = ext/OpenCCSDS
	url = https://github.com/oresat/OpenCCSDS.git
