[submodule "ChibiOS"]
	path = ext/ChibiOS
	url = https://github.com/ChibiOS/ChibiOS.git
[submodule "common/CANopenNode"]
	path = ext/CANopenNode
	url = https://github.com/CANopenNode/CANopenNode.git
[submodule "ext/littlefs"]
	path = ext/littlefs
	url = git@github.com:ARMmbed/littlefs.git
