[submodule "ext/ChibiOS"]
	path = ext/ChibiOS
	url = https://github.com/ChibiOS/ChibiOS.git
[submodule "ext/CANopenNode"]
	path = ext/CANopenNode
	url = https://github.com/CANopenNode/CANopenNode.git
